.Container {
  border: 1px solid red;
  width: 99vw;
  height: 99vh;
  margin: auto;
}

#B1 {
  margin-top: 50px;
  margin-left: 200px;
  border: 1px solid orange;
  width: 42%;
  height: auto;
  color: white;

}